<footer class="footer">
	<div class="col-md-4" ALIGN="center">
		Đảm bảo AN TOÀN THỰC PHẨM
	</div>

	<div class="col-md-4" ALIGN="center">
		KHÁCH HÀNG LÀ THƯỢNG ĐẾ
	</div>

	<div class="col-md-4" ALIGN="center">
		ĐẢM BẢO TIN CẬY
	</div>

  <small>
    The FoodStore by Team 5
  </small>
</footer>